In [1]:
import pandas as pd
df= pd.read_excel('DTC_name_total.xlsx')

In [4]:
df['DTC'] = df['DTC Name'].str.split(' ').str[0]
df['Make'] = df['Make'] = df['DTC Name'].apply(lambda x: x.split(' ')[1] if isinstance(x, str) and len(x.split(' ')) > 1 else None)

In [6]:
df.head(10)

              DTC Name             From    DTC           Make
0                P0278  Batch 1 - May 1  P0278           None
1           P0278 Audi  Batch 1 - May 1  P0278           Audi
2           P0278 Ford  Batch 1 - May 1  P0278           Ford
3  P0278 Mercedes-Benz  Batch 1 - May 1  P0278  Mercedes-Benz
4     P0278 Volkswagen  Batch 1 - May 1  P0278     Volkswagen
5                P0725  Batch 1 - May 1  P0725           None
6          P0725 Acura  Batch 1 - May 1  P0725          Acura
7           P0725 Audi  Batch 1 - May 1  P0725           Audi
8       P0725 Chrysler  Batch 1 - May 1  P0725       Chrysler
9          P0725 Dodge  Batch 1 - May 1  P0725          Dodge